.about-container {
   background-color: #fff;
   width: 100%;
   height: 85vh;
   display: flex;
   flex-direction: row;
   position: relative;
   align-items: center;

}

.about-img {
   background: url('https://res.cloudinary.com/deesjttvu/image/upload/v1610168802/tapiblue_qgyjrv.png') no-repeat;
   background-position: 20% 100%;
   background-size: 80%;
   object-fit: contain;
   z-index: 1;
   height: 100%;
   width: 100%;
}