.footer {
	background-color: #232121;
	height: 10rem;
	width: 100%;
	font-size: 2rem;
	position: relative;
	margin-top: -10rem;
	bottom: 0;
	text-align: center;
}

.footer > a {
	position: inherit;
	height: 3rem;
	width: 3rem;
}

.linkedin-link {
	left: 10vw;
	top: 2vh;
}

.github-link {
	left: -2vw;
	top: 2vh;
}

.fab {
	font-size: 2.5rem;
	color: #fff;
}

.copyright {
	position: relative;
	color: #fff;
	font-size: 1rem;
	bottom: -65%;
	margin: auto;
}

/************************************** Home Mobile Styles ***********************/
@media screen and (max-width: 1024px) and (min-width: 480px) {
	.linkedin-link {
		left: 17vw;
	}

	.github-link {
		left: -14vw;
	}
}

@media screen and (max-width: 479px) {
	.copyright {
		margin: auto;
	}
	.linkedin-link {
		left: 31vw;
	}

	.github-link {
		left: -6vw;
	}
}
