.footer {
	background-color: #232121;
	height: 10rem;
	width: 100%;
	font-size: 2rem;
	position: relative;
	margin-top: -10rem;
	bottom: 0;
	text-align: center;
}

.fab {
	position: relative;
	font-size: 2.5rem;
	color: #fff;
	top: 25%;
}

.fa-linkedin {
	position: relative;
	right: -9%;
}

.fa-github {
	position: relative;
	left: -1%;
}

.copyright {
	position: relative;
	color: #fff;
	font-size: 1rem;
	bottom: -65%;
}
