.hero-container {
	background: url('https://res.cloudinary.com/deesjttvu/image/upload/v1606430017/tapiwagrey_uopbz3.png') no-repeat;
	background-color: #92958D;
	background-position: 73% 100%;
	background-size: 55%;
	width: 100%;
	height: 85vh;
	display: block;
	position: relative;
	flex-direction: column;
	align-items: center;
	box-shadow: inset 5px 0px 100px 40px #232321;;
	object-fit: contain;
	position: relative;
}

.hero-text{
	text-decoration: none;
	text-transform: capitalize;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	position: absolute;
	top: 40%;
	left: 29%;
	transform: translateX(-100%) translateY(0%);
	font-size: 3.4rem;
}
.herotext-mobile{
	display: none;
}

.myName {
	color: #B22222;
}

.skillHighlight {
	position: absolute;
	top: 66%;
	left: 28%;
	transform: translateX(-100%) translateY(0%);
	color: #000000;
	font-size: 1.5rem;
}

.contactme-btn {
	width: 18rem;
	height: 6rem;
	position: relative;
	z-index: 1;
	top: 80%;
	left: 25%;
	transform: translateX(-100%) translateY(0%);
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	color: #B22222;
	font-size: 1.5rem;
	border: 3px solid #B22222;
	border-radius: 8px;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	overflow: hidden;
	transition: ease-out 0.3s;
}
.contactme-btn:hover{
	color: #fff;
	cursor: pointer;
}

.contactme-btn:before{
	transition: 0.3s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: #B22222;
}

.contactme-btn:hover:before{
	transition: 0.3s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;


}

/************************************** Hero Media queries ***********************/
@media screen and (max-width: 960px) {
	.hero-container {
		background-position: 45% 100%;
		background-size: 180%;
		width: 100%;
		height: 85vh;		
		box-shadow: inset 5px 0px 100px 2px #232321;
		position: relative;
	}
	.hero-text{
		display: none;
	}

	.herotext-mobile {
		text-decoration: none;
		text-transform: capitalize;
		color: #fff;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		position: absolute;
		top: 70%;
		left: 54%;
		transform: translateX(-100%) translateY(0%);
		font-size: 1.6em;
		display: inline;
		margin-block-start: auto;
		margin-block-end: auto;
	
	}

	.myName {
		display: inherit;
		font-weight: bold;
	}
	.skillHighlight {
		top: 90%;
		left: 62%;
		font-size: 12px;
		font-weight: 600;
		transform: translateX(-100%) translateY(0%);
  }
  .contactme-btn {
		top: 66%;
		left: 47%;
		font-weight: 800;
		padding: 1em 1.5em;
	}
}



