.herotext-mobile {
	display: none;
}

.skills-text {
	position: relative;
	top: 8%;
	color: #000000;
	font-size: 1.5rem;
}

.contact_me-btn {
	width: 18rem;
	height: 6rem;
	position: relative;
	z-index: 1;
	top: 8rem;
	left: 0rem;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	color: #b22222;
	font-size: 1.5rem;
	border: 3px solid #b22222;
	border-radius: 0.8rem;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	overflow: hidden;
	transition: ease-out 0.3s;
	padding: 2rem;
}
.contacting-btn:hover {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.contacting-btn:before {
	transition: 0.3s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: #b22222;
}

.contacting-btn:hover:before {
	transition: 0.3s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

/************************************** Home Mobile Styles ***********************/
@media screen and (max-width: 1024px) {
	div .container-fluid {
		height: 73vh;
		width: 100%;
		flex: column;
		background-color: #92958d;
		background-position: 50% 100%;
		background-size: cover;
		box-shadow: inset 0.5rem 0rem 5rem 1rem #232321;
	}

	.herotext-mobile {
		text-decoration: none;
		text-transform: capitalize;
		color: #fff;
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		position: relative;
		text-transform: capitalize;
		top: 52vh;
		left: 0%;
		font-size: 3.3vh;
		display: block;
		text-align: center;
	}

	.red_text-mobile {
		font-weight: bold;
		color: #b22222;
	}

	.skills-text {
		top: 51vh;
		margin-left: auto;
		margin-right: auto;
		font-size: 2.1vh;
		font-weight: 400;
		color: #fff;
		position: relative;
	}
	.contact_me-btn {
		padding: 1rem;
		top: 52vh;
		height: 5rem;
		margin-left: auto;
		margin-right: auto;
		height: 5rem;
	}
	/*********************footer***************************/

	.copyright {
		left: -6%;
	}

	.fa-linkedin {
		right: -26%;
	}
}
